body{
    background-image: url("images/happy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 30%;
}
    
        nav{
            text-align: center;
            font-size: x-large;
        }       
nav a{
    padding-inline: 80px;
    color:#000;
}
h1{
    font-style: italic;
    color:#000;
}
h2{
    font-size: xx-large;
    float: right;
    color: #000;
}
        
